body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}


.login{
  text-align: center;
}

.login button{
  display: block;
  margin: 0 auto;
  margin-top: 1rem;
  background: #55acee;
  font-size: 1rem;
  color: #fff;
  outline: 0;
  border: 0;
  padding: .5em 1em;
  border-radius: .2rem;
}

.login button:hover{
  background: #35a2f4;
}

.login input{
  padding: .6em 1em;
  background: #fff;
  outline: 0;
  border-radius: .2rem;
  border: 1px solid rgba(34,36, 38, .15);
}

.login input:focus{
  border-color: #85b7d9;
}

.err{
  font-size: .8rem;
  color: red;
  padding: 1rem;
}

.lobby{
  display: flex;
  flex-wrap: wrap;
}

.room{
  cursor: pointer;
  margin:20px;
  background: #55acee;
  width: 200px;
  height: 100px;
  border-radius: .3rem;
  text-align: center;
  position: relative;
}

.room.busy{
  cursor: not-allowed;
}

.room .member{
  width: 50px;
  height: 50px;
  float: left;
  background: white;
  border-radius: 50%;
  margin-top: 25px;
  margin-left: 20px;
}

.member.sec{
  float: right;
  background: black;
  margin-right: 20px;
 
}

.roomId{
  position: absolute;
  left:50%;
  top:50%;
  background: rgba(255, 255, 255, .2);
  border-radius: 50%;
  width: 40px;
  height: 40px;
  color: white;
  margin-left: -20px;
  margin-top: -20px;
  line-height: 40px;
  font-size: 30px;
  user-select: none;
}

.room::after{
  content: '';
  display: table;
  clear: both;
}

.newRoom{
  margin:20px;
  background: #55acee;
  width: 200px;
  height: 100px;
  border-radius: .3rem;
  text-align: center;
  border: 0;
  outline: 0;
  color: white;
  font-size: 50px;
}
.newRoom:hover{
  background: #35a2f4;
  cursor: pointer;
}